{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
    <form method="post" action=".">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash"></i>
                    <b>{{ title }}</b>
                </h3>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {% if form.errors %}
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p class="text-center font-weight-bold mt-3">
                        <i class="fas fa-trash fa-3x"></i><br><br>
                        ¿Estas seguro de eliminar el registro N° {{ object.id }}?
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Si, aceptar
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(pathname, 'Notificación', '¿Estas seguro de eliminar el siguiente registro?', parameters, function () {
                Swal.fire({
                    title: 'Alerta',
                    text: 'Registro eliminado correctamente',
                    icon: 'success',
                    timer: 2000,
                    onClose: () => {
                        location.href = '{{ list_url }}';
                    }
                }).then((result) => {
                    location.href = '{{ list_url }}';
                });
            });
        });
    </script>
{% endblock %}